---
interface Props {
	title: string
	body: string
	href: string
	img: string
}

const { href, href_en, title, body, cuerpo, img } = Astro.props

const { currentLocale } = Astro
---

<a
  href={currentLocale === 'es' ? href : href_en}
  target="_blank"
  class="
    flex flex-col justify-center items-center p-5
    bg-white dark:bg-slate-800
    rounded-md border border-slate-200 dark:border-slate-700
    shadow-md shadow-slate-400/10 dark:shadow-slate-800/10
    hover:scale-105 hover:bg-slate-50 dark:hover:bg-slate-700
    transition
  "
>
  <picture class="flex justify-center p-4">
    <img class="mb-5 rounded-lg" src={img} alt={`Imagen de ${title}`} width="100"/>
  </picture>

  <h2 class="my-2 text-2xl font-bold tracking-tight">
    {title}
  </h2>

  <p class="mb-4 font-light text-gray-400">
    {currentLocale === 'es' ? cuerpo : body}
  </p>
</a>