---
import ThemeToggler from "../components/ThemeToggler.astro"
import LanguageToggler from "../components/LanguageToggler.astro"

import { getI18n } from '../i18n'
const { currentLocale } = Astro
const i18n = getI18n({ currentLocale })
---

<div id="navbar"
  class="fixed top-0 left-0 w-full z-50 transition-all duration-300 bg-white dark:bg-slate-900 shadow-lg shadow-slate-300/30 dark:shadow-slate-900/40"
>
  <div
    class="w-full max-w-7xl mx-auto flex items-center justify-between pl-4 pr-0 lg:pr-4 font-sans"
  >
    <div class="w-full lg:w-auto flex items-center gap-6">
      <a href="#" class="flex items-center gap-3">
        <div
          class="transition-all duration-300"
        >
          <img src="/logo.webp" width="50" alt="Global Constellation Logo">
        </div>
        <span
          class="font-sans text-lg tracking-widest uppercase text-slate-800 dark:text-slate-100"
          >Global Constellation</span
        >
      </a>
    </div>

    <div class="flex flex-row items-center gap-x-6 py-5">
      
      <a class="text-slate-500 dark:text-slate-400 hover:text-slate-700 dark:hover:text-slate-100 transition-colors duration-300" 
        href="#internas">{i18n.internas}</a>
    
      <a class="text-slate-500 dark:text-slate-400 hover:text-slate-700 dark:hover:text-slate-100 transition-colors duration-300" 
        href="#externas">{i18n.externas}</a>
    
      <a class="text-slate-500 dark:text-slate-400 hover:text-slate-700 dark:hover:text-slate-100 transition-colors duration-300" 
        href="#documentacion">{i18n.documentacion}</a>

      <a class="text-slate-500 dark:text-slate-400 hover:text-slate-700 dark:hover:text-slate-100 transition-colors duration-300" 
        href="#sobre-proyecto">{i18n.sobre_proyecto}</a>
    
      <ThemeToggler />

      <LanguageToggler />

    </div>

  </div>
</div>
