---
import { ViewTransitions } from 'astro:transitions'
import Navbar from "../components/Navbar.astro"

import { getI18n } from '../i18n'
const { currentLocale } = Astro
const i18n = getI18n({ currentLocale })

interface Props {
	title: string;
}

const { title } = Astro.props
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={i18n.SEO_DESCRIPTION} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-100 dark:bg-[#0a101f] dark:text-slate-100">
		<Navbar />
		<slot />
	</body>
</html>

